ollama_base_url=http://localhost:11434
ollama_model=llama3.1:8b

openweather_api_key=your_key_here

langchain_tracing_v2=true
langchain_project=wildlife-agents
langchain_api_key=your_key_here

aws_access_key_id=your_key_here
aws_secret_access_key=your_key_here
aws_region=your_region_here
sqs_queue_url=your_queue_url_here